
/* Style for Topnav */

#logo{
    max-width: 13em;
    padding-left: 1%;
    padding-top: 0.5%;
}

#top-nav{

    height: 6em;
    padding: 0px 20px;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    margin: auto; 
    z-index: 999; 
       
}

.top ul .navitem{ 
    margin-top: 0.9em;
    font-size: 1em;
}

.top ul li a{
    font-size: 1.2em;
    color: white;   
}

.top ul li a:hover{
    color:#ffc252;
    background-color: rgba(0, 0, 0, 0) !important;
}

.top ul li a.active {
    color: #ffc252;
}

.top ul li:hover  {
    background-color: rgba(0, 0, 0, 0) !important;  
} 

/* Style for Dropdown in Topnav */
.drop{
    background: rgba(0, 0, 0, 0.5);
    color: #ffc252;
    top:-1.08em;
}



/* Style for Sidenav on Medium and Small screen */

#slide-out{
    background-color: black;
}

#slide-out ul li a:hover{
    color:#ffc252;
}

#slide-out ul{
    width: 1000px;
}

#slide-out li a{
    color: white;
    font-size: 0.9em;
}

.sidenav li > a:hover > i.material-icons {
    color:#ffc252 !important;
}







/* Parallax and diviser height, border */

.parallax-container{
    height: 30em;
}

.diviser{
    height: 15em;
    border-top: 10px solid #5a86dd;
}


.border-down {
    border-bottom: 10px solid #5a86dd;
}


/* Color style for bg */
.bg-blue{
    background-color: #5a86dd;
}

.bg-blue:hover{
    background-color: white;
    color: #5a86dd;
}

/* Color style for text */
.color-blue{
    color: #5a86dd;
}

/* Product img size and margin */

.img-product{
    max-width: 15em;
    max-height: 15em;
    min-height: 15em;
    min-width: 15em;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
}

.img-carousel{
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
}


/* Product card margin */
.product .card{
    margin-right: 1em;
    margin-left: 1em;
}

/* Modal img size and margin */
.img-modal{
    max-height: 35vh;
    min-height: 35vh;
    width: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


/* Dropdoxn max height */
.dropdown-content {
    max-height: 20vh;
}

.dropdown-extend .dropdown-content {
    max-height: 40vh;
}

/* Modal style, padding, color */

.modal .dropdown-content li > a, .dropdown-content li > span {
    color: black !important;
}

.modal p{
    padding-top: 10px;
}

.modal h4{
    padding-top: 10px;
}


#pagination ul li a{
    font-size: 1.2em;
    color: black;   
}

#pagination li a:hover{
    color:#5a86dd;
    background-color: rgba(0, 0, 0, 0) !important;
} 
#pagination li.active a {
    color:white!important;
    background-color: #5a86dd!important;

} 


/* Chips Color */

.chip:focus {
   background-color: #5a86dd;
}

/* Cart style padding, color, position */
.cart{
    padding-right: 1em;
    padding-left: 1em;
}


#bottom-cart{
    background-color: white;
    position: relative;
    top: 1em;
    margin-bottom: 8em;

}
#close-cart{
    margin-top: 0.3em;
}


/* Style for footer */
.page-footer i:hover {
    color: #ffc252 !important;
}

.page-footer a {
    margin: 0 auto !important;
}

.page-footer a:hover {
    color: #ffc252 !important;
}

.icon-footer {
   font-size: 2em;
}

.zoom {
    font-size: 3rem;
}

/* Icon bar aside social network */
.icon-bar {
    right: 0;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 998;
}
  
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
  
.icon-bar a:hover {
    background-color: rgba(0, 0, 0, 1);
}
  
.facebook {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
  
.twitter {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
  
.instagram {
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.8);
}

/* Put a marge on top article in home page */
.hoverable a {
    margin-bottom: 0.6em;
}

/* Style divider */
hr.divider { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.zoom {
    font-size: 3rem;
}

.borderdown {
    border-bottom: 10px solid #5a86dd;
}

.blueborders {
    border-top: 10px solid #5a86dd;
    border-bottom: 10px solid #5a86dd
}


.fa-chevron-left {
    color: #ffc252;
}

.fa-chevron-right {
    color: #ffc252;
}

.btn-flat i {
    color: #ffc252;
    font-size: 3em;
}

.top-article {
    color: black;
}

.store-pic {
    width: 100%;
}

.btn-margin {
    margin: 1.4em;
}

.see{
    margin-top: 15vh;
}



.profile-pic-on-userpage {
    width: 12em;
}

.margetop {
    margin-top: 4em;
}

.card-height{
    min-height: 42vh;
    text-align:justify;
}

.page404 {
    margin-top: 10em;
    margin-bottom: 10em;
}

a:focus{
   outline:none;
}

.mentions-container {
    margin-left: 2em;
    margin-right: 2em;
}

/* Style for caroussel */
.carousel-all-event .carousel .carousel-item>img{
    height: 25em;
    width: auto;
    max-width: 40em;
}

.event-pic-show{
    height: 25em;
    width: auto;
    max-width: 40em;  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-all-event .carousel-item{
    max-height: 10vh;
    width: auto;
}
.test{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-welcome .carousel .carousel-item>img{
    height: 100%;
    width: 100%;
}

/* Comment styles */
.comment {
    font-style: italic;
}

.event-comment {
    margin-left: 2em;
    margin-right: 2em;
}

.remove-marge-bot {
    margin-bottom: 0;
}

/* Event picture and buttons */
.carousel-all-event .event-pic {
    width: 100%; 
}

.show-event {
    width: 100%;
}

.btn-heart {
    width: 100%;
    background: none;
    color: red;
    box-shadow: none;
}

.btn-heart:focus {
    background: black;
}

.btn-heart:hover {
    background: none;
}

.user-info{

    font-size: 1em;
    margin-left: 2em;

    
}

.profile-pic {
    
    margin-top: 0.1vh;
    height: auto;
    width: 7vh;
}
#user-card{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 4.5em;
    width: 12em;
    margin: auto;
}

#user-pic-contain{
    margin-left: 0.25em;
    margin: 0px 0px 0px 0px;
}

#event-idea-button{
    padding-top: 1em;
}

#event-idea-footer{
    margin-top: 2em; 
}


/* Styles for social button (like, download, edit, etc...) */
.btn {
    color: black;
    background: #ffc252;
}

.shuffleactive {
    color: #ffc252 !important;
    background: black !important;
}

.btn:hover {
  background: #ffc252;
}

.btn:focus {
    background: #ffc252;
}

/* Style for text inputs */
/* label color */
.input-field label {
    color: #000;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #5a86dd !important;
}

.input-field textarea:focus + label {
    color: #5a86dd !important;
}

.input-field input[type=email]:focus + label {
    color: #5a86dd !important;
}

.input-field input[type=password]:focus + label {
  color: #5a86dd !important;
}

.input-field input[type=date]:focus + label {
    color: #5a86dd !important;
}

.input-field input[type=number]:focus + label {
    color: #5a86dd !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #5a86dd !important;
  box-shadow: 0 1px 0 0 #5a86dd !important;
}

.input-field textarea:focus {
    border-bottom: 1px solid #5a86dd !important;
    box-shadow: 0 1px 0 0 #5a86dd !important;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #5a86dd !important;
    box-shadow: 0 1px 0 0 #5a86dd !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #5a86dd !important;
  box-shadow: 0 1px 0 0 #5a86dd !important;
}

.input-field input[type=date]:focus {
  border-bottom: 1px solid #5a86dd !important;
  box-shadow: 0 1px 0 0 #5a86dd !important;
}

.input-field input[type=number]:focus {
    border-bottom: 1px solid #5a86dd !important;
    box-shadow: 0 1px 0 0 #5a86dd !important;
}

/* icon prefix focus color */
  .input-field .prefix.active {
    color: #5a86dd;
  }

  /* Admin page Style */
.datatable {       
    margin-top: 2em;   
}

/* Style for Shopping Shuffle */
.aspect__inner {
    max-width: 300px;
    max-height: 300px;
}

.picture-item {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .picture-item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.picture-item__inner {
    display: inline;
}

.picture-item__details {
    padding-bottom: 5em;
    
}

.picture-item__title a {
    color: black;
    font-size: 1.5em;
}

.margin-top-button{
    margin-bottom: 5px!important;
}


@media screen and (max-width: 640px) {
    .carousel-all-event .carousel .carousel-item>img{
        height: 30vh;
        width: auto;
        max-width: 37vh;
    }

  }

  @media screen and (max-width: 1200px) {

    .event-pic-show{
        height: 25vh;
        width: auto;
        max-width: 40vh;  
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  }